h4{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
display: flex;
align-items: center;
color: #000000;
}
h5{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 30px;
display: flex;
align-items: center;
color: #707070;
}
h6{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 30px;
display: flex;
align-items: center;
color: #0081F7;
}
h3{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16.2723px;
line-height: 24px;
color: #20A7DB;
}

ion-icon {
    color: black;
}

button {
    position: relative;
    width: 100%;
    color: black;
    height: 60.57px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 16.2723px;
    background: #f2f3f2;
    border-radius: 17.1763px;
}
