
<ion-content>

  <p>Edit Account</p>


<ion-row>
  <ion-col size="2">
    <ion-icon name="arrow-back-outline" [routerLink]="['/profile']" style="font-size:30px"></ion-icon>
  </ion-col>
<ion-col size="8">
  <ion-img src="../assets/profile/cartoon.jpg" ></ion-img>
</ion-col>
<ion-col size="2"></ion-col>
</ion-row>


<ion-row class="ion-padding">
  <ion-col size="12" >
    <ion-input placeholder="First Name">
      <ion-icon name="person-outline" class="ion-padding"></ion-icon>
    </ion-input>
  </ion-col>


  <ion-col size="12" class="ion-padding-top">
    <ion-input placeholder="Last Name">
      <ion-icon name="person-outline" class="ion-padding"></ion-icon>
    </ion-input>
  </ion-col>



  <ion-col size="12" class="ion-padding-top">
    <ion-input placeholder="111-111-111">
      <ion-icon name="call-outline" class="ion-padding"></ion-icon>
    </ion-input>
  </ion-col>



  <ion-col size="12" class="ion-padding-top">
    <ion-input placeholder="Saradoe@email.com">
      <ion-icon name="mail-outline" class="ion-padding"></ion-icon>
    </ion-input>
  </ion-col>


<ion-col size="12" class="ion-padding">
  <button>Update</button>
</ion-col>

<ion-col>
  <div class="ion-text-center">
    <h6>Deactivate Your Account</h6>
  
  </div>
</ion-col>



</ion-row>





</ion-content>







<ion-footer mode="ios" style="background-color:white;color:black">
  <ion-row>

    <ion-col class="ion-padding" size="2.4">
      <ion-tab-button tab="caregivers">
        <ion-icon name="home" style="font-size:30px; " [routerLink]="['/main-page']"></ion-icon>
      </ion-tab-button>

    </ion-col>
    <ion-col class="ion-padding" size="2.4">
      <ion-tab-button tab="">
        <ion-icon name="repeat" style="font-size:30px; " [routerLink]="['/search']"></ion-icon>
      </ion-tab-button>

    </ion-col>

    <ion-col class="ion-padding" size="2.4">
      <ion-tab-button tab="">
        <ion-icon name="heart" style="font-size:30px ; " [routerLink]="['/categories']"></ion-icon>
      </ion-tab-button>

    </ion-col>
    <ion-col class="ion-padding" size="2.4">
      <ion-tab-button tab="">
        <ion-icon name="cart" style="font-size:30px; " [routerLink]="['/shopping-cart']"></ion-icon>
      </ion-tab-button>

    </ion-col>
    <ion-col class="ion-padding" size="2.4">
      <ion-tab-button tab="">
        <ion-icon name="person-circle" style="font-size:30px; color: #E67F1E; " [routerLink]="['/profile']"></ion-icon>
      </ion-tab-button>

    </ion-col>

  </ion-row>




</ion-footer>