.address {
    display: flex;
    justify-content: center;
}

ion-input {
    width: 100%;
    border: 1px solid #cacaca;
    border-radius: 30px;
    color: black;


    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
}
h3{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
}

ion-lable{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
}


ion-input{
    --padding-start: 10px;
    }
