<ion-header>
  <ion-toolbar>
    <ion-title>notification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
















<ion-footer mode="ios" style="background-color:white;color:black">
  <ion-row>

    <ion-col class="ion-padding" size="2.4">
      <ion-tab-button tab="caregivers">
        <ion-icon name="home" style="font-size:30px; " [routerLink]="['/main-page']"></ion-icon>
      </ion-tab-button>

    </ion-col>
    <ion-col class="ion-padding" size="2.4">
      <ion-tab-button tab="">
        <ion-icon name="repeat" style="font-size:30px; " [routerLink]="['/search']"></ion-icon>
      </ion-tab-button>

    </ion-col>

    <ion-col class="ion-padding" size="2.4">
      <ion-tab-button tab="">
        <ion-icon name="heart" style="font-size:30px ; " [routerLink]="['/categories']"></ion-icon>
      </ion-tab-button>

    </ion-col>
    <ion-col class="ion-padding" size="2.4">
      <ion-tab-button tab="">
        <ion-icon name="cart" style="font-size:30px; " [routerLink]="['/shopping-cart']"></ion-icon>
      </ion-tab-button>

    </ion-col>
    <ion-col class="ion-padding" size="2.4">
      <ion-tab-button tab="">
        <ion-icon name="person-circle" style="font-size:30px; color: #E67F1E; " [routerLink]="['/profile']"></ion-icon>
      </ion-tab-button>

    </ion-col>

  </ion-row>




</ion-footer>
