<ion-content>
  <div class="image">
    <ion-img src="../assets/signup/1.png"></ion-img>
    <div class="icon">
      <ion-icon name="arrow-back-outline" style="font-size: 30px;" [routerLink]="['/welcome2']"></ion-icon>
    </div>
  </div>

  <div class="center">
    <ion-card style="border-radius: 20px;">
      <ion-card-header>
        <ion-row>

          <ion-col size="1"></ion-col>
          <ion-col size="8">
            <h3>Create Your Account</h3>
          </ion-col>
          <ion-col size="1"></ion-col>
          <ion-col size="2" style="margin-top: 4%;">
            <ion-img src="../assets/signin/cross.png" style="width:50%;"></ion-img>
          </ion-col>

        </ion-row>
      </ion-card-header>

      <ion-card-content>

        <ion-row>

          <ion-col size="6" class="ion-padding">
            <ion-input placeholder="First Name" mode="ios" type="text" ></ion-input>
          </ion-col>

          <ion-col size="6" class="ion-padding">
            <ion-input placeholder="Last Name" mode="ios" type="text" ></ion-input>
          </ion-col>

          <ion-col size="12" class="ion-padding">
            <ion-input placeholder="Email" mode="ios" type="email" ></ion-input>
          </ion-col>

          <ion-col size="12" class="ion-padding">
            <ion-input placeholder="Password" mode="ios" type="password"></ion-input>
            <div class="terms">

              <ion-col size="1"></ion-col>
              <ion-col size="10">
                <p class="ion-padding" style="text-align: center;">
                  By tapping Sign up you accept all
                  <span style="color: 
      #20A7DB;">terms</span> and <span style="color: 
      #20A7DB;"> condition</span>
                </p>
              </ion-col>
              <ion-col size="1"></ion-col>

            </div>
          </ion-col>

        </ion-row>
      </ion-card-content>
      <ion-row class="ion-padding">
      
        <ion-col size="12">
          <ion-button mode="ios" color="secondary" class="account" size="large" shape="round" id="trigger-button" style="width: 100%;">
            CREATE AN ACCOUNT
          </ion-button>
        </ion-col>
       
      </ion-row>
    </ion-card>
  </div>



  <ion-modal trigger="trigger-button" style="width: 100%;height: 90vh;margin-top: 30%;">
    <ng-template>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle style="font-family: 'Inter';
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 108.92%;
          text-align: center;
          color: #E67F1E;">Congratulations!</ion-card-subtitle>
          <ion-card-title style="font-family: 'Inter';
          font-style: normal;
          font-weight: 700;
          font-size: 12.9231px;
          line-height: 108.92%;
          text-align: center;
          color: #7A1E76;">Md Rafatul Islam</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-img src="../assets/signup/1.gif"></ion-img>

          <ion-row class="ion-padding">

            <ion-col size="12">
              <ion-button mode="ios" color="secondary" class="account" size="large" shape="round" (click)="closeModal()"
                [routerLink]="['/login']">
                SIGN IN
              </ion-button>
            </ion-col>

          </ion-row>
        </ion-card-content>
      </ion-card>

    </ng-template>
  </ion-modal>

</ion-content>