ion-input{

border: 1px solid #E67F1E;
border-radius: 30px;
color: black;
}

// .ion-padding ion-input{
//   height: 50px;
// }

.image {
    position: relative;
    text-align: center;
    color: white;
  }

  .icon {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  .terms p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #303030;
  }
  
 
 ion-button{
   width: 100%;
 }

 .center{
  position: absolute;
  top: 60%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

.account{
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identical to box height */

text-align: center;
text-transform: uppercase;
}
