<ion-header>
 
</ion-header>

<ion-content>
  <div class="image" style="margin-top:10% ;">
    <ion-img src="../assets/welcome/2.png" ></ion-img>
  </div>

  <div class="text">
    <h1>
      Fast and responsibily delivery by our riders
    </h1>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor  
    </p>
  </div>

  <div class="slider">
    <ion-row >
    

      
      <ion-col size="4">   <ion-img src="../assets/splash/grey.png"></ion-img></ion-col>

      
      <ion-col size="4"><ion-img src="../assets/splash/grey.png"></ion-img></ion-col>
      
      <ion-col size="4"><ion-img src="../assets/splash/green.png"></ion-img></ion-col>
    
    </ion-row>
  </div>

<div class="account">
  <button [routerLink]="['/registration']">Create an account</button>
</div>

<div class="login">
<button [routerLink]="['/login']">Login</button>
</div>

</ion-content>
