.text h1{
    position: absolute;
    width: 302px;
    height: 58px;
    left: 37px;
    margin-top: 30%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
}

.text p{
    position: absolute;
width: 318px;
height: 44px;
left: 29px;
margin-top: 50%;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
text-align: center;
color: #000000;
}

.slider{
    display: flex;
    justify-content: center;  
    margin-top:70%;
}

.account button{
    position: absolute;
width: 318px;
height: 60px;
left: 28px;
margin-top: 30%;
color: white;
/* Black */

background: #000000;
border-radius: 30px;
}
.login button{
    position: absolute;
    width: 318px;
    height: 60px;
    left: 28px;
    margin-top: 50%;
    color: white;
    
    color: black;
    background-color: white;
    border-radius: 30px ;
    border: 2px solid black;
    
}