.text h1{
    margin-top: 40%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;

}
.text p{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
text-align: center;
color: #000000;
}
.slider{
    display: flex;
    justify-content: center;  
}

button{
    width:100%;
    background: #20A7DB;
    border-radius: 32px;
    height: 60px;
color: white;
font-size: 20px;
}
.image{
    display: flex;
    justify-content: center;
}
