<ion-content>
  <div class="image">

    <ion-img src="../assets/signin/1.png"></ion-img>
    <div class="icon">

      <ion-icon name="arrow-back-outline" style="font-size: 50px;" [routerLink]="['/welcome2']"></ion-icon>
    </div>

  </div>


  

  <ion-row style="margin-top: 10%;">
    <ion-col size="1"></ion-col>
    <ion-col size="10">

      <input type="email" />
    </ion-col>

    <ion-col size="1"></ion-col>

    <ion-col size="1"></ion-col>
    <ion-col size="10" style="margin-top: 10%;">

      <input type="password" />
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>

 

  
  

<div class="button">
  <button >
    Log In
  </button>
</div>



</ion-content>