ion-input{
  width: 100%;
  border: 1px solid #CACACA;
  border-radius: 30px;
  color: black;
  }
  
  .ion-padding ion-input{
    height: 50px;
  }

.image {
    position: relative;
    text-align: center;
    color: white;
  
  }
  .icon {
    position: absolute;
    top: 8px;
    left: 16px;
    
  }
 ion-button{
   width: 100%;
 }
  .center{
    position: absolute;
    top: 70%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
  }
