<ion-content>
  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col>
        <div class="ion-text-start">
          <h2>Item Details</h2>
        </div>
      </ion-col>
      <ion-col>
        <div class="ion-text-end">
          <h4 [routerLink]="['/checkout']">place Order</h4>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="ion-padding">
    <ion-row>
      <ion-col size="4">
        <ion-img src="../assets/item details/1.png"></ion-img>
      </ion-col>
      <ion-col size="4">
        <p style="color: rgba(0, 0, 0, 0.6);">Fruits</p>
        <h3>
          Banana
        </h3>
        <p style="color: #E67F1E;">$28.8</p>
      </ion-col>
      <ion-col size="4">
        <div class="end ion-padding">
          <ion-img src="../assets/item details/min.png" style="width: 15%;"></ion-img>
          <p style="font-size: 20px;">3</p>
          <ion-img src="../assets/item details/plus.png" style="width: 15%;"></ion-img>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-img src="../assets/item details/2.png"></ion-img>
      </ion-col>
      <ion-col size="4">
        <p style="color: rgba(0, 0, 0, 0.6);">Fruits</p>
        <h3>
          Banana
        </h3>
        <p style="color: #E67F1E;">$28.8</p>
      </ion-col>
      <ion-col size="4">
        <div class="end ion-padding">

          <ion-img src="../assets/item details/min.png" style="width: 15%;"></ion-img>
          <p style="font-size: 20px;">3</p>
          <ion-img src="../assets/item details/plus.png" style="width: 15%;"></ion-img>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-img src="../assets/item details/3.png"></ion-img>
      </ion-col>
      <ion-col size="4">
        <p style="color: rgba(0, 0, 0, 0.6);">Fruits</p>
        <h3>
          Banana
        </h3>
        <p style="color: #E67F1E;">$28.8</p>
      </ion-col>
      <ion-col size="4">
        <div class="end ion-padding">
          <ion-img src="../assets/item details/min.png" style="width: 15%;"></ion-img>
          <p style="font-size: 20px;">3</p>
          <ion-img src="../assets/item details/plus.png" style="width: 15%;"></ion-img>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>

<ion-footer mode="ios" style="background-color:white;color:black">
  <ion-row>
    <ion-col class="ion-padding" size="3">
      <ion-tab-button tab="caregivers">
        <ion-icon name="home" style="font-size:30px" [routerLink]="['/main-page']"></ion-icon>
      </ion-tab-button>

    </ion-col>
    <ion-col class="ion-padding" size="3">
      <ion-tab-button tab="">
        <ion-icon name="repeat" style="font-size:30px"></ion-icon>
      </ion-tab-button>

    </ion-col>
    <ion-col class="ion-padding" size="3">
      <ion-tab-button tab="">
        <ion-icon name="cart" style="font-size:30px"></ion-icon>
      </ion-tab-button>

    </ion-col>
    <ion-col class="ion-padding" size="3">
      <ion-tab-button tab="">
        <ion-icon name="person-circle" style="font-size:30px" [routerLink]="['/profile']"></ion-icon>
      </ion-tab-button>

    </ion-col>
  </ion-row>




</ion-footer>