.end{
    display: flex;
    justify-content: space-between; 
    margin-top: 50%;
 }

 h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
 }

 h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
 }
 p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
 }
 h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #E67F1E;
 }

 .image {
   position: relative;
   text-align: center;
   color: white;
 
 }

 .center{
   position: absolute;
   top: 90%;
   left: 50%;
   width: 100%;
   transform: translate(-50%, -50%);
   

background: #20A7DB;

border-radius: 18px;
 }
