<ion-header >
  <ion-toolbar mode="ios" color="secondary">
    <div class="ion-padding">
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/main-page" style="color:white"></ion-back-button>
    </ion-buttons>
  <ion-icon name="options" style="font-size: 30px;float: right;" class="ion-padding" ></ion-icon>
</div>
<div class="ion-padding">
  <h1>Fruits Category</h1>
  <p class="items">87 Items</p>
</div>
</ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar mode="ios" style="background: #F0F0F0;" ></ion-searchbar>

  <div class="container">
  <ion-row class="ion-padding">
  
    <ion-col size="6" class="ion-padding">
      <ion-img src="../assets/Fruits category/1.png" [routerLink]="['/item-details']"></ion-img>
  
  <div class="top-left">
    <ion-img src="../assets/Fruits category/heart.png" ></ion-img>
  </div>
  <div class="bottom-left">
  
    <h4>
      Avocado
    </h4>
    <p>$6.7</p>
  </div>
    </ion-col>
    <ion-col size="6" class="ion-padding">
      <ion-img src="../assets/Fruits category/2.png" ></ion-img>
      <div class="top-left">
        <ion-img src="../assets/Fruits category/heart.png" ></ion-img>
      </div>
      <div class="bottom-left">
        <h4>
          Avocado
        </h4>
        <p>$6.7</p>
      </div>
    </ion-col>
    <ion-col size="6" class="ion-padding">
      <ion-img src="../assets/Fruits category/3.png" ></ion-img>
      <div class="top-left">
        <ion-img src="../assets/Fruits category/heart.png" ></ion-img>
      </div>
      <div class="bottom-left">
        <h4>
          Avocado
        </h4>
        <p>$6.7</p>
      </div>
    </ion-col>
    <ion-col size="6" class="ion-padding">
      <ion-img src="../assets/Fruits category/4.png" ></ion-img>
      <div class="top-left">
        <ion-img src="../assets/Fruits category/heart.png" ></ion-img>
      </div>
      <div class="bottom-left">
        <h4>
          Avocado
        </h4>
        <p>$6.7</p>
      </div>
    </ion-col>
    <ion-col size="6" class="ion-padding">
      <ion-img src="../assets/Fruits category/5.png" ></ion-img>
      <div class="top-left">
        <ion-img src="../assets/Fruits category/heart.png" ></ion-img>
      </div>
      <div class="bottom-left">
        <h4>
          Avocado
        </h4>
        <p>$6.7</p>
      </div>
    </ion-col>
    <ion-col size="6" class="ion-padding">
      <ion-img src="../assets/Fruits category/6.png" ></ion-img>
      <div class="top-left">
        <ion-img src="../assets/Fruits category/heart.png" ></ion-img>
      </div>
      <div class="bottom-left">
        <h4>
          Avocado
        </h4>
        <p>$6.7</p>
      </div>
    </ion-col>
    <ion-col size="6" class="ion-padding">
      <ion-img src="../assets/Fruits category/7.png" ></ion-img>
      <div class="top-left">
        <ion-img src="../assets/Fruits category/heart.png" ></ion-img>
      </div>
      <div class="bottom-left">
        <h4>
          Avocado
        </h4>
        <p>$6.7</p>
      </div>
    </ion-col>
    <ion-col size="6" class="ion-padding">
      <ion-img src="../assets/Fruits category/8.png" ></ion-img>
      <div class="top-left">
        <ion-img src="../assets/Fruits category/heart.png" ></ion-img>
      </div>
      <div class="bottom-left">
        <h4>
          Avocado
        </h4>
        <p>$6.7</p>
      </div>
    </ion-col>

    <ion-col size="6" class="ion-padding">
      <ion-img src="../assets/Fruits category/9.png" ></ion-img>
      <div class="top-left">
        <ion-img src="../assets/Fruits category/heart.png" ></ion-img>
      </div>
      <div class="bottom-left">
        <h4>
          Avocado
        </h4>
        <p>$6.7</p>
      </div>
    </ion-col>

    <ion-col size="6" class="ion-padding">
      <ion-img src="../assets/Fruits category/10.png" ></ion-img>
      <div class="top-left">
        <ion-img src="../assets/Fruits category/heart.png" ></ion-img>
      </div>
      <div class="bottom-left">
        <h4>
          Avocado
        </h4>
        <p>$6.7</p>
      </div>
    </ion-col>

    <ion-col size="6" class="ion-padding">
      <ion-img src="../assets/Fruits category/11.png" ></ion-img>
      <div class="top-left">
        <ion-img src="../assets/Fruits category/heart.png" ></ion-img>
      </div>
      <div class="bottom-left">
        <h4>
          Avocado
        </h4>
        <p>$6.7</p>
      </div>
    </ion-col>

    <ion-col size="6" class="ion-padding">
      <ion-img src="../assets/Fruits category/12.png" ></ion-img>
      <div class="top-left">
        <ion-img src="../assets/Fruits category/heart.png" ></ion-img>
      </div>
      <div class="bottom-left">
        <h4>
          Avocado
        </h4>
        <p>$6.7</p>
      </div>
    </ion-col>
  
  </ion-row>
  </div>




</ion-content>


<ion-footer mode="ios" style="background-color:white">
  <ion-row>
    <ion-col class="ion-padding" size="3">
      <ion-icon name="home" style="color: #E67F1E;font-size:30px"></ion-icon>
    </ion-col>
    <ion-col class="ion-padding" size="3">
      <ion-icon name="repeat" style="color: #E67F1E;font-size:30px"></ion-icon>
    </ion-col>
    <ion-col class="ion-padding" size="3">
      <ion-icon name="cart" style="color: #E67F1E;font-size:30px"></ion-icon>
    </ion-col>
    <ion-col class="ion-padding" size="3">
      <ion-icon name="person-circle" style="color: #E67F1E;font-size:30px"></ion-icon>
    </ion-col>
  </ion-row>
</ion-footer>