.container {
  position: relative;
  text-align: center;
  color: white;
}

.bottom-left {
  position: absolute;
  bottom: 10px;
  left: 30px;
}

.bottom-left p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
}

.items {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.bottom-left h4 {
  font-family: "Poppins";
  font-style: normal;

  font-size: 18px;
}

.top-left {
  position: absolute;
  top: 30px;
  left: 30px;
}

h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
}
