.text{
    margin-top: 10%;
}
ion-img {
    margin-top: 20%;
}

h3{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
}
h1{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
}

p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
}