<ion-content>
  <div class="header">
  <ion-row>
    <ion-col size="8" >
      <ion-searchbar value="Search by product" mode="ios"></ion-searchbar>
    </ion-col>

  
    
    <ion-col size="2" class="ion-padding" >
      <ion-img src="../assets/main/1.png" style="width: 70%;" ></ion-img>
    </ion-col>
    <ion-col size="2" >
      <ion-icon name="notifications" style="font-size: 30px;margin-top: 12%;" ></ion-icon>
    </ion-col>
  </ion-row>
</div>

<div class="near-store">
  <ion-row>
    <ion-col size="1"></ion-col>
    <ion-col size="5" class="ion-text-start">
      <p 
      >Stores Nearby</p>
    </ion-col>
    <ion-col size="5" class="ion-text-end"><ion-icon name="arrow-forward" style="font-size: 30px;margin-top: 10%;"></ion-icon></ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>

  
    <ion-row>
      
      <ion-col size="4">
        <ion-img src="../assets/product/1.png" [routerLink]="['/stores']"></ion-img>
        <div class="centered">jc penny</div>
     
      </ion-col>
      <ion-col size="4">
        <ion-img src="../assets/product/2.png" [routerLink]="['/stores']"></ion-img>
        <div class="centered">jc penny</div>
      </ion-col>
      <ion-col size="4">
        <ion-img src="../assets/product/3.png" [routerLink]="['/stores']"></ion-img>
        <div class="centered">jc penny</div>
      </ion-col>
       
        
    
    </ion-row>



</div>

<div class="featured">


<div class="text">
  <ion-row>
    <ion-col size="1"></ion-col>
    <ion-col size="5" class="ion-text-start">
      <p 
      >Featured Stores</p>
    </ion-col>
    <ion-col size="5" class="ion-text-end"><ion-icon name="arrow-forward" style="font-size: 30px;margin-top: 10%;"></ion-icon></ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>
</div>






  <ion-row>
    <ion-col size="6" class="ion-padding">
      <ion-img src="../assets/product/4.png" [routerLink]="['/categories']" ></ion-img>
      <div class="centered">Store 1</div>
    </ion-col>
    <ion-col size="6" class="ion-padding">
      <ion-img src="../assets/product/4.png"></ion-img>
      <div class="centered">Store 1</div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6" class="ion-padding">
      <ion-img src="../assets/product/4.png"></ion-img>
      <div class="centered">Store 1</div>
    </ion-col>
    <ion-col size="6" class="ion-padding">
      <ion-img src="../assets/product/4.png"></ion-img>
      <div class="centered">Store 1</div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6" class="ion-padding">
      <ion-img src="../assets/product/4.png"></ion-img>
      <div class="centered">Store 1</div>
    </ion-col>
    <ion-col size="6" class="ion-padding">
      <ion-img src="../assets/product/4.png"></ion-img>
      <div class="centered">Store 1</div>
    </ion-col>
  </ion-row>
</div>
</ion-content>
