<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" style="color: #E67F1E
      ;"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="image">
    <ion-img src="../assets/splash/blue.png"></ion-img>
  </div>
  <div class="text">
    <h1>Welcome to Birnana</h1>
    <p>Grocery application</p>
    <ion-title size="small">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
    </ion-title>
 
  </div>

  <div class="slider">
    <ion-row >
    
      <ion-col size="4"><ion-img src="../assets/splash/green.png"></ion-img></ion-col>
      
      <ion-col size="4">   <ion-img src="../assets/splash/grey.png"></ion-img></ion-col>
      
      <ion-col size="4"><ion-img src="../assets/splash/grey.png"></ion-img></ion-col>
    
    </ion-row>
  </div>
 

 
  <div class="button">
    <button [routerLink]="['/welcome1']">Next</button>
  </div>
</ion-content>