<ion-header>
  <ion-toolbar>
    <ion-row class="ion-padding-top">
      <ion-col size="4">
        <ion-img src="../assets/profile/1.png" style="width:70%;"></ion-img>
      </ion-col>
      <ion-col size="6">
        <p>John Doe
          <ion-icon name="pencil-outline" style="color: #53B175;padding-left: 30px;font-size: 20px;"></ion-icon>
        </p>
        <p>Johndoe@gmail.com</p>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12">
      <ion-item>

        <ion-icon name="bag-handle-outline" slot="start" class="edit-icon"></ion-icon>

        <p>Orders</p>

        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>


      </ion-item>
    </ion-col>

    <ion-col size="12">
      <ion-item>

        <ion-icon name="card-outline" slot="start" class="edit-icon"></ion-icon>

        <p>My Details</p>

        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>


      </ion-item>
    </ion-col>

    <ion-col size="12">
      <ion-item>

        <ion-icon name="location-outline" slot="start" class="edit-icon"></ion-icon>

        <p>Delivery Address</p>

        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>


      </ion-item>
    </ion-col>

    <ion-col size="12">
      <ion-item>

        <ion-img src="../assets/profile/payment.png" slot="start" class="edit-icon"></ion-img>

        <p>Payment Methods</p>

        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>


      </ion-item>
    </ion-col>

    <ion-col size="12">
      <ion-item>

        <ion-img src="../assets/profile/promo.png" slot="start" class="edit-icon"></ion-img>

        <p>Promo Cord</p>

        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>


      </ion-item>
    </ion-col>

    <ion-col size="12">
      <ion-item>

        <ion-icon name="notifications-outline" slot="start" class="edit-icon"></ion-icon>

        <p>Notifications</p>

        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>


      </ion-item>
    </ion-col>
    <ion-col size="12">
      <ion-item>

        <ion-icon name="help-circle-outline" slot="start" class="edit-icon"></ion-icon>

        <p>Help</p>

        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>


      </ion-item>
    </ion-col>

    <ion-col size="12">
      <ion-item>

        <ion-icon name="alert-circle-outline" slot="start" class="edit-icon"></ion-icon>

        <p>About</p>

        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>


      </ion-item>
    </ion-col>

    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <button   [routerLink]="['/login']">

        <ion-icon slot="start" style="font-size: 20px;float:left;padding-left: 2%;" name="exit-outline"></ion-icon>

        Logout

      </button>

    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>
</ion-content>


<ion-footer mode="ios" style="background-color:white;color:black">
  <ion-row>

    <ion-col class="ion-padding" size="2.4">
      <ion-tab-button tab="caregivers">
        <ion-icon name="home" style="font-size:30px; " [routerLink]="['/main-page']"></ion-icon>
      </ion-tab-button>

    </ion-col>
    <ion-col class="ion-padding" size="2.4">
      <ion-tab-button tab="">
        <ion-icon name="repeat" style="font-size:30px; " [routerLink]="['/search']"></ion-icon>
      </ion-tab-button>

    </ion-col>

    <ion-col class="ion-padding" size="2.4">
      <ion-tab-button tab="">
        <ion-icon name="heart" style="font-size:30px ; " [routerLink]="['/categories']"></ion-icon>
      </ion-tab-button>

    </ion-col>
    <ion-col class="ion-padding" size="2.4">
      <ion-tab-button tab="">
        <ion-icon name="cart" style="font-size:30px; " [routerLink]="['/shopping-cart']"></ion-icon>
      </ion-tab-button>

    </ion-col>
    <ion-col class="ion-padding" size="2.4">
      <ion-tab-button tab="">
        <ion-icon name="person-circle" style="font-size:30px; color: #E67F1E; " [routerLink]="['/profile']"></ion-icon>
      </ion-tab-button>

    </ion-col>

  </ion-row>




</ion-footer>