ion-icon {
    color: black;
}

button {
    position: relative;
    width: 100%;
    color: black;
    height: 60.57px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 16.2723px;
    background: #f2f3f2;
    border-radius: 17.1763px;
}
