<ion-header>
  <ion-toolbar mode="ios" color="white">
    <ion-row>
      <ion-col size="4">
        <div class="ion-text-start ion-padding">
          <ion-icon name="close-circle" style="color: orange;font-size:30px;" [routerLink]="['/payment']"></ion-icon>
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="ion-text-center">
          <p style="font-size: 18px;">Write Reviews</p>
        </div>
      </ion-col>
      <ion-col size="4"></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="text ion-padding">
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <h1>Tell Us to Improve</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

  </div>
  <div class="ion-text-center">
    <h3>5.0</h3>
  </div>
  <ion-row>
    <ion-col size="1"></ion-col>
    <ion-col size="2">

      <ion-icon name="star" color="secondary" style="font-size: 30px;"></ion-icon>

    </ion-col>
    <ion-col size="2">
      <ion-icon name="star" color="secondary" style="font-size: 30px;"></ion-icon>
    </ion-col>
    <ion-col size="2">
      <ion-icon name="star" color="secondary" style="font-size: 30px;"></ion-icon>
    </ion-col>
    <ion-col size="2">
      <ion-icon name="star" color="secondary" style="font-size: 30px;"></ion-icon>
    </ion-col>
    <ion-col size="2">
      <ion-icon name="star" color="secondary" style="font-size: 30px;"></ion-icon>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>
  <p class="ion-padding">Let us know what you think</p>
  <ion-row>
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <ion-textarea placeholder="Write your review here"></ion-textarea>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <ion-button mode="ios" color="secondary" shape="round" style="width: 100%;" [routerLink]="['/main-page']">DONE
      
      </ion-button>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>



</ion-content>