ion-card{
    border: 1px solid #E2E2E2;
    
}

p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16.2615px;
    letter-spacing: 0.0903416px;
    
    color: #181725;

}

h1{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14.4547px;
line-height: 16px;
/* identical to box height, or 113% */

display: flex;
align-items: center;
letter-spacing: 0.0903416px;

color: #181725;
}

h5{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12.6478px;
line-height: 16px;
/* or 129% */

display: flex;
align-items: center;

color: #7C7C7C;
}