// #container {
//   text-align: center;

//   position: absolute;
//   left: 0;
//   right: 0;
//   top: 50%;
//   transform: translateY(-50%);
  
// }


ion-img{
  width: 50%;
  margin-top: 50%;
}
.image{
  display: flex;
  justify-content: center;

}
.text h1{
  text-align: center;
  color: #20A7DB
  ;
  font-size: 64px;
}