<ion-content>
  <div class="background" style="background: #F2F2F2;">
  <div class="container">
    <ion-img src="../assets/product Description/slider.png"></ion-img>

    <div class="top-left">
      <ion-icon name="arrow-back-outline" style="font-size: 30px;" [routerLink]="['/categories']"></ion-icon>
    </div>
    <div class="top-right">
      <ion-icon name="share-social-outline" style="font-size: 30px;"></ion-icon>
    </div>
  </div>
  <div class="ion-padding">
    <p>Fruits</p>

    <h2>Fresh Orange</h2>

    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="5">
        <div class="ion-text-start">
          <h3 style="color: #20A7DB;">$4.9</h3>

        </div>
      </ion-col>
      <ion-col size="5">
        <div class="end">

          <ion-img src="../assets/product Description/min.png" style="width: 15%;"></ion-img>
          <p style="font-size: 20px;">3</p>
          <ion-img src="../assets/product Description/plus.png" style="width: 15%;"></ion-img>
        </div>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>




    <ion-row>

      <ion-col size="7">
        <div class="ion-text-start">
          <ion-row>
            <ion-img src="../assets/product Description/star.png" style="width: 10%;padding-right: 5px;"></ion-img>
            <p>$4.9 <span style="color: #AAAAAA;padding-right: 5px;">(128 reviews)</span> </p>
          </ion-row>
        </div>
      </ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="4">
        <div class="last">
          <ion-row>

            <ion-img src="../assets/product Description/user1.png" style="width: 30%;"></ion-img>
            <ion-img src="../assets/product Description/user2.png" style="width: 30%;"></ion-img>
            <ion-img src="../assets/product Description/user3.png" style="width: 30%;"></ion-img>

          </ion-row>
        </div>
      </ion-col>

    </ion-row>
  </div>


  <div class="ion-padding">
    <ion-segment scrollable value="heart">
      <ion-segment-button value="home">
        <p>Description</p>
      </ion-segment-button>
      <ion-segment-button value="heart">
        <p>Review</p>
      </ion-segment-button>
      <ion-segment-button value="pin">
        <p>Discussion</p>
      </ion-segment-button>
    </ion-segment>
    <ion-row>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
      </p>
    </ion-row>







  </div>
</div>
  <div class="ion-padding">

    <ion-row>

      <ion-col size="4">
        <ion-button shape="round" color="success" size="large">
          <ion-icon slot="icon-only" name="heart"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col size="6">

        <ion-button shape="round" color="secondary" size="large" [routerLink]="['/shopping-cart']">
          <!-- <ion-label>
        <h3>ADD TO CART</h3>
      </ion-label>
      <br>
      <ion-label >
        <p style="color: white;" class="ion-padding">$5.07</p>
      </ion-label> -->

          <p>ADD TO CART
            <br>

            $889
          </p>


        </ion-button>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>

  </div>
</ion-content>